#credits {
  padding-left: 25px;
  font-size: smaller;
  color: gray;
}

.warning {
  color: pink;
}

#main-card {
  /*background-color: #1f2831;*/
  padding: 25px;
  border-radius: 5px;
  display: inline-block;
  /*line-height: 200%;*/
}