body {
    padding: 25px;
    background-color: #1b1b1b;
    color: #8fa1b2;

    line-height: 20px;
}

a {
    color: #c8b4db;
}

button {
    border: 2px solid #8fa1b2;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}

#main {
    background-color: #1f2831;
    padding: 25px;
    border-radius: 5px;
    display: inline-block;
    line-height: 200%;
}

#source-select {
    border-radius: 2px;
    background: #525c66;
    color: whitesmoke;
}

#source-info-input {
    border-radius: 2px;
    background: #525c66;
    color: whitesmoke;
    border: 1px solid black;
}

#data-source-hint {
    min-height: 1em;
}

#submit {
    background: #525c66;
    color: whitesmoke;
}

#submit:hover {
    background: whitesmoke;
    color: #525c66;
}

#credits {
    padding-left: 25px;
    font-size: smaller;
    color: gray;
}

